<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="site-heading"><%= t 'devise.registrations.heading.edit' %></h3>
  </div>
  <div class="panel-body">
    <% if devise_error_messages? %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= devise_error_messages! %>
      </div>
    <% end %>
      
    <div class="col-lg-6">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <div class="form-group">
        <%= f.label :username, t('devise.registrations.label.username') %>
        <%= f.text_field :username, autofocus: true, 'class' => 'form-control user-form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :email, t('devise.registrations.label.email') %>
        <%= f.email_field :email, 'class' => 'form-control user-form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="form-group">
          Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :password, t('devise.registrations.label.password') %> <em>(<%= t 'devise.registrations.label.can_blank' %>)</em>
        <%= f.password_field :password, autocomplete: "off", 'class' => 'form-control user-form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, t('devise.registrations.label.password_confirmation') %>
        <%= f.password_field :password_confirmation, 'class' => 'form-control user-form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :current_password, t('devise.registrations.label.current_password') %>
        <%= f.password_field :current_password, 'class' => 'form-control user-form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit t('devise.registrations.btn.edit'), 'class' => 'btn btn-default' %>
      </div>
        
      <% end %>
    </div>
    
    <div class="col-lg-6">
      <h3 class="no-margin-top"><%= t('devise.registrations.heading.cancel_account') %></h3>
      <p><%= button_to t('devise.registrations.btn.cancel_account'), registration_path(resource_name), data: { confirm: t('devise.messages.confirm') }, method: :delete, 'class' => 'btn btn-danger' %></p>
    </div>
    
    <div style="clear: both; padding-left: 15px;">
      <%= link_to t('devise.registrations.btn.back'), :back %>
    </div>
    
  </div>
</div>