<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="site-heading"><%= t 'devise.sessions.heading.sign_up' %></h3>
  </div>
  <div class="panel-body">
    <% if devise_error_messages? %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= devise_error_messages! %>
      </div>
    <% end %>
      
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="form-group">
        <%= f.label :username, t('devise.registrations.label.username') %>
        <%= f.text_field :username, autofocus: true, 'class' => 'form-control user-form-control' %>
      </div>
    
      <div class="form-group">
        <%= f.label :email, t('devise.registrations.label.email') %>
        <%= f.email_field :email, autofocus: true, 'class' => 'form-control user-form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, t('devise.registrations.label.password') %>
        <%= f.password_field :password, 'class' => 'form-control user-form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, t('devise.registrations.label.password_confirmation') %>
        <%= f.password_field :password_confirmation, 'class' => 'form-control user-form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit t('devise.registrations.btn.sign_up'), 'class' => 'btn btn-default' %>
      </div>

    <% end %>

    <%= render "devise/shared/links" %>
        
  </div>
</div>