<h3 class="no-margin-top">Welcome to Semvoc API!</h3>
<p>
  Semvoc API provides functionality for fetching data from the Semvoc knowledge base, either by direct
  SPARQL1.1 queries or predefined statements. The latter are faster to write and sufficient for most cases.
</p>

<h3>Result formats</h3>
<p>
  The following result formats are available:
</p>
<ul>
  <li>JSON</li>
  <li><a href="http://en.wikipedia.org/wiki/Tab-separated_values">TSV</a> (non-standard)</li>
  <li>XML</li>
</ul>
<p>
  Later in this manual, you'll see URLs ending with <code>/[format]</code>, which will indicate that one of the
  following is used as <code>[format]</code>: <code>json</code>, <code>tsv</code> or <code>xml</code>.
</p>

<h3>SPARQL queries</h3>
<p>
  You can fetch data by specifying any SPARQL1.1 compliant query, by using this URL:
</p>
<pre>http://semvoc.net/api/sparql/[format]?query=[query]</pre>
<p>
  The following example will fetch all triples from the Semvoc kb, in JSON format:
</p>
<pre>curl -G -d "query=SELECT%20*%20WHERE%20{?s%20?p%20?o}" http://voc.local/api/sparql/json</pre>

<h3>Predefined statements</h3>
<p>
  You can use predefined statements, which cover most of the basic use cases, to fetch data more easily.
  URL syntax is presented below:
</p>
<pre>http://semvoc.net/api/[statement]/[format]</pre>
<p>
  <code>[statement]</code> can be one of the following:
</p>
<ul>
  <li><code>all</code> - all triples from kb</li>
  <li><code>categories</code> - all triples, where subject is a category</li>
  <li><code>advancement_levels</code> - all triples, where subject is an advancement level of a word</li>
  <li><code>words</code> or <code>words_all</code> - all triples, where subject is a word</li>
  <li><code>words_adjectives</code> - all triples, where subject is an adjective</li>
  <li><code>words_adverbs</code> - all triples, where subject is an adverb</li>
  <li><code>words_nouns</code> - all triples, where subject is a noun</li>
  <li><code>words_verbs</code> - all triples, where subject is a verb</li>
  <li><code>words_other</code> - all triples, where subject is a miscellaneous word</li>
</ul>
<p>
  Example of usage - this will fetch all words from the kb, in TSV format:
</p>
<pre>curl http://semvoc.net/api/words/tsv
</pre>