<h3 class="no-margin-top">Witaj w Semvoc API!</h3>
<p>
  Semvoc API umożliwia pobieranie danych z bazy wiedzy Semvoc bezpośrednio za pomocą zapytań SPARQL1.1 lub
  korzystając z predefiniowanych komend. Druga z metod jest wygodniejsza w użyciu i wystarczająca w większości
  przypadków.
</p>

<h3>Format wyników</h3>
<p>
  Dostępne są następujące formaty wyników zapytań:
</p>
<ul>
  <li>JSON</li>
  <li><a href="http://en.wikipedia.org/wiki/Tab-separated_values">TSV</a> (poza standardem SPARQL)</li>
  <li>XML</li>
</ul>
<p>
  W dalszej części tego dokumentu zostaną użyte adresy URL z końcówką <code>/[format]</code> - będzie to oznaczało,
  że jako <code>[format]</code> użyto jednej z wartości: <code>json</code>, <code>tsv</code> lub <code>xml</code>.
</p>

<h3>Zapytania SPARQL</h3>
<p>
  Możliwe jest wprowadzenie dowolnego zapytania SPARQL1.1, poprzez użycie następującego adresu URL:
</p>
<pre>http://semvoc.net/api/sparql/[format]?query=[zapytanie]</pre>
<p>
  Poniższy przykład spowoduje pobranie wszystkich trójek z bazy wiedzy Semvoc, w formacie JSON:
</p>
<pre>curl -G -d "query=SELECT%20*%20WHERE%20{?s%20?p%20?o}" http://voc.local/api/sparql/json</pre>

<h3>Predefiniowane komendy</h3>
<p>
  Możliwe jest użycie predefiniowanych komend, które pokrywają większość podstawowych zastosowań, aby
  pobieranie danych było łatwiejsze. Poniżej przedstawiona została postać adresu URL:
</p>
<pre>http://semvoc.net/api/[komenda]/[format]</pre>
<p>
  Jako <code>[komenda]</code> może zostać użyta jedna z poniższych wartości:
</p>
<ul>
  <li><code>all</code> - wszystkie trójki z bazy</li>
  <li><code>categories</code> - wszystkie trójki, w których podmiotem jest kategoria</li>
  <li><code>advancement_levels</code> - wszystkie trójki, w których podmiotem jest poziom zaawansowania słówka</li>
  <li><code>words</code> or <code>words_all</code> - wszystkie trójki, w których podmiotem jest słówko</li>
  <li><code>words_adjectives</code> - wszystkie trójki, w których podmiotem jest przymiotnik</li>
  <li><code>words_adverbs</code> - wszystkie trójki, w których podmiotem jest przysłówek</li>
  <li><code>words_nouns</code> - wszystkie trójki, w których podmiotem jest rzeczownik</li>
  <li><code>words_verbs</code> - wszystkie trójki, w których podmiotem jest czasownik</li>
  <li><code>words_other</code> - wszystkie trójki, w których podmiotem jest inne słówko</li>
</ul>
<p>
  Przykład użycia - zostaną pobrane wszystkie słówka z bazy wiedzy, w formacie TSV:
</p>
<pre>curl http://semvoc.net/api/words/tsv
</pre>