<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="site-heading"><%= t 'api.heading.api' %></h3>
  </div>
  <div class="panel-body">
    <%= render 'api/manual' %>
  </div>
</div>