<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="site-heading"><%= t 'devise.sessions.heading.sign_in' %></h3>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-group">
        <%= f.label :login, t('devise.sessions.label.login') %>
        <%= f.text_field :login, autofocus: true, 'class' => 'form-control user-form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, t('devise.sessions.label.password') %>
        <%= f.password_field :password, 'class' => 'form-control user-form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %> <%= f.label :remember_me, t('devise.sessions.label.remember') %>
        </div>
      <% end -%>

      <div class="form-group">
        <%= f.submit t('devise.sessions.btn.sign_in'), 'class' => 'btn btn-default' %>
      </div>

    <% end %>

    <%= render "devise/shared/links" %>
    
  </div>
</div>