$font-color-lighter: #636363;

.navbar-clear {
    margin-top: 70px;
}

.site-heading {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.glyphicon-heading {
    font-size: 1em;
}

dd.spaced-bottom {
    margin-bottom: 20px;
}

.clickable:hover {
    color: $font-color-lighter;
    cursor: pointer;
}

.icon-clickable {
    cursor: pointer;
}

.no-padding-right {
    padding-right: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.font-normal {
    font-weight: normal;
}

.hidden {
    display: none;
}

.user-form-control {
    width: 250px;
}

hr.small-spacing {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}