/*.tooltip-inner {
    width: 140px;
}*/

.word-control {
    width: 220px;
}

.article-control {
    width: 90px;
}

.checkbox-tests {
    vertical-align: top;
}

.countable-options {
    display: none;
    margin-left: 20px;
}

.plural-control {
    width: 75px;
}

.label-spaced {
    margin-left: 7px;
}

.word-row {
    margin-bottom: 20px;
}

.word-correct-icon {
    color: #41a317;
}

.word-incorrect-icon {
    color: #ff0000;
}

.word-correct {
    color: #41a317;
}

.word-incorrect {
    color: #ff0000;
}

.dl-test-results {
    dt {
        text-align: left;
    }
}

.perfekt-label {
    cursor: help;
    border-bottom: 1px dotted #999;
}