// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body-section-heading {
    margin-bottom: 10px;
}

.alert-data {
    margin-bottom: 8px;
}

.score-scored {
    font-size: 1.3em;
}

ul.list-comma-separated {
    margin-bottom: 0;
    
    li:after {
        content: ","
    }
    
    li:last-child:after {
        content: ""
    }
}

.dl-selection {
    margin-top: 0;
    margin-bottom: 0;
    
    dt {
        width: 80px;
    }
    
    dd {
        margin-left: 90px;
    }
}

.glyphicon-selection-options {
    font-size: 0.8em;
    cursor: pointer;
}

.panel-heading {
    .edit-control {
        width: 100px;
        display: inline-block;
    }
/*    .edit {
        color: navy;
    }
    
    .remove {
        color: navy;
    }*/
}

h3 {
    .notifyjs-bootstrap-base {
        padding-bottom: 0;
        
        [data-notify-text] {
            font-size: 14px;
            top: -6px;
        }
    }
}