// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'layout';

$font-color-normal: #333333;
$font-color-lighter: #636363;

.col-words {
    padding-left: 0;
    padding-right: 1%;
}

.col-last {
    padding-right: 0;
}

.dl-align-left {
    dt {
        text-align: left;
    }
}

.word-item {
    display: inline;
    cursor: pointer;
}

.col-categories {
    text-align: right;
}

.label-categories {
    margin-top: 0.1em;
}

.list-categories {
    li:after {
        content: ","
    }
    
    li:last-child:after {
        content: ""
    }
    
    li {
        span {
            cursor: pointer;
        }
        
        span:hover {
            color: $font-color-lighter;
        }
        
        .label {
            font-size: 0.9em;
        }
        
        .label-primary:hover {
            color: #ffffff;
        }
    }
}

.collapse-categories {
    cursor: pointer;
    font-size: 0.7em;
}

.icon {
    height: 100%;
    display: table-cell;
    position: relative;
    
    span {
        display: inline-block;
        vertical-align: middle;
    }
}

/* Bootstrap override */

.popover {
    max-width: 500px;
    
    dl {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }
}

.box-side {
    display: table;
    position: fixed;
    left: -200px;
    top: 30%;
    z-index: 1000;
    
    .box-side-content {
        margin-bottom: 0;
        display: inline-block;
        border-radius: 0;
        
        hr {
            margin-top: 0.15em;
            margin-bottom: 0.15em
        }
    }
    
    .box-side-icon {
        height: 100%;
        display: table-cell;
        border-left: none;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}

.word-label.label {
    font-size: 0.9em;
}