<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="site-heading"><%= t 'tests.heading.test' %>
    <sup><span data-toggle="tooltip" title="<%= t 'tests.label.tips_read' %>"><span class="glyphicon glyphicon-info-sign glyphicon-heading icon-clickable" data-toggle="modal" data-target="#modal-tips"></span></span></sup></h3>
  </div>
  <div id="modal-tips" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-tips-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 id="modal-tips-label" class="modal-title"><%= t 'tests.label.modal_tips' %></h4>
        </div>
        <div class="modal-body">
          <dl class="no-margin-top">
            <dt><%= t 'tests.heading.tips_hint_term_html' %></dt>
            <dd class="spaced-bottom"><%= t 'tests.paragraph.tips_hint_definition_html' %></dd>
            <dt><%= t 'tests.heading.tips_diacritics_term_html' %></dt>
            <dd class="spaced-bottom"><%= t 'tests.paragraph.tips_diacritics_definition_html' %></dd>
            <dt><%= t 'tests.heading.tips_autosave_html' %></dt>
            <dd><%= t 'tests.paragraph.tips_autosave_definition_html' %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div id="test-content" class="panel-body">
    <div id="test_widgets">
      <%= form_tag do %>
        <% @words.each do |s, v| %>
          <% name_prefix = s['value'].split('#')[1] %>
          <div class="rdfa-properties" about="<%= s['value'] %>" typeof="<%= v[RDF::Prefixes::RDF+'type']['value'] %>">

            <%# LABEL (LOCALE) %>

            <%= label_tag(name_prefix+'-german', v[RDF::Prefixes::RDFS+'label'][I18n.locale.to_s.upcase]['value'],
              'property' => RDF::Prefixes::RDFS+'label',
              'lang' => I18n.locale.to_s.upcase,
              'content' => v[RDF::Prefixes::RDFS+'label'][I18n.locale.to_s.upcase]['value']) %>
            <span class="hint clickable glyphicon glyphicon-search" data-toggle="tooltip" title="<%= t 'tests.label.hint' %>"></span>
            <div class="controls form-inline word-row">

              <%# ARTICLE %>

              <% if v[RDF::Prefixes::VOC+'hasArticle'] %>
                <%= select_tag(name_prefix+'-article', options_for_select(['-', ['der', RDF::Prefixes::VOC+'DerArticle'], ['die', RDF::Prefixes::VOC+'DieArticle'], ['das', RDF::Prefixes::VOC+'DasArticle']]),
                  'class' => 'form-control article-control',
                  'property' => RDF::Prefixes::VOC+'hasArticle',
                  'content' => v[RDF::Prefixes::VOC+'hasArticle']['value']) %>
              <% end %>

              <%# LABEL (GERMAN) %>

              <%= text_field_tag(name_prefix+'-german', nil,
                'class' => 'form-control word-control',
                'property' => RDF::Prefixes::RDFS+'label',
                'lang' => 'DE',
                'content' => v[RDF::Prefixes::RDFS+'label']['DE']['value']) %>
              <% if RDF::Prefixes::VOC+'Noun' == v[RDF::Prefixes::RDF+'type']['value'] %>
                <label class="font-normal label-spaced" for="<%= name_prefix+'-countable' %>"><%= t 'tests.label.countable' %>:
                  <%= check_box_tag(name_prefix+'-countable', nil, nil, class: 'checkbox-tests checkbox-countable') %>
                </label>
                <div id="<%= name_prefix+'-countable-options' %>" class="countable-options form-inline">

                  <%# PLURAL SUFFIX %>

                  <span property="<%= RDF::Prefixes::VOC+'pluralSuffix' %>" content="<%= v[RDF::Prefixes::VOC+'pluralSuffix']['value'] if v[RDF::Prefixes::VOC+'pluralSuffix'] %>">
                    <%= t 'tests.label.plural_suffix_html' %>:
                    <%= text_field_tag(name_prefix+'-plural', nil, class: 'form-control plural-control plural-control') %>
                    <label class="font-normal" for="<%= name_prefix+'-umlaut' %>">
                      <%= t 'tests.label.umlaut' %>:
                      <%= check_box_tag(name_prefix+'-umlaut', nil, nil, class: 'checkbox-tests umlaut-control') %>
                    </label>
                  </span>
                </div>
              <% elsif RDF::Prefixes::VOC+'Verb' == v[RDF::Prefixes::RDF+'type']['value'] %>

                <%# PRAETERITUM %>

                <%= label_tag(name_prefix+'-praeteritum', t('tests.label.praeteritum'), class: 'font-normal label-spaced') %>:
                <%= text_field_tag(name_prefix+'praeteritum', nil,
                  'class' => 'form-control word-control',
                  'property' => RDF::Prefixes::VOC+'praeteritum',
                  'content' => v[RDF::Prefixes::VOC+'praeteritum']['value']) %>

                <%# PERFEKT %>

                <%= label_tag(name_prefix+'-perfekt', t('tests.label.perfekt'),
                  'class' => 'font-normal label-spaced perfekt-label',
                  'data-toggle' => 'popover',
                  'data-html' => 'true',
                  'data-placement' => 'top',
                  'data-content' => t('tests.message.perfekt_popover_html')) %>:
                <%= text_field_tag(name_prefix+'perfekt', nil,
                  'class' => 'form-control word-control',
                  'property' => RDF::Prefixes::VOC+'perfekt',
                  'content' => v[RDF::Prefixes::VOC+'perfekt']['value']) %>
              <% end %>
            </div>
          </div>
        <% end %>
        <button id="submit" class="btn btn-warning" type="button"><%= t 'tests.btn.submit' %></button>
      <% end %>
    </div>
    <div id="test_results">
      <%= form_tag tests_save_score_path do %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  jQuery(function($) {
    $('[data-toggle="tooltip"]').tooltip();
    
    $('.hint[data-toggle="tooltip"]').tooltip('destroy').tooltip({delay: {show: 400, hide: 0}});
    
    $('.perfekt-label[data-toggle="popover"]').popover();
    
    // hint
    $('.hint').click(function() {
      var $wordWidget = $(this).parent('.rdfa-properties').find('[property="<%= RDF::Prefixes::RDFS+'label' %>"][lang="DE"]').first();
      var correct = $wordWidget.attr('content');
      var typed = $wordWidget.val();
      var newValue = typed;
      if (!typed) {
        newValue = correct[0];
      } else if (correct === typed) {
        $wordWidget.removeClass('word-incorrect').addClass('word-correct');
      } else if (correct.substr(0, typed.length) === typed) {
        newValue = correct.substr(0, typed.length + 1);
      } else {
        $wordWidget.removeClass('word-correct').addClass('word-incorrect');
      }
      $wordWidget.val(newValue);
    });
    
    $('input[type="text"]').keyup(function() {
      // remove hint classes
      $(this).removeClass('word-incorrect').removeClass('word-correct');
      
      // replace =[letter] for diacritic
      var mappings = {
        '=A': 'Ä',
        '=a': 'ä',
        '=O': 'Ö',
        '=o': 'ö',
        '=U': 'Ü',
        '=u': 'ü',
        '=s': 'ß'
      };
      var newValue = $(this).val();
      for (var key in mappings) {
        var regex = new RegExp(key, 'g');
        newValue = newValue.replace(regex, mappings[key]);
      }
      
      var selectionStart = this.selectionStart;
      var selectionEnd = this.selectionEnd;
      $(this).val(newValue);
      this.setSelectionRange(selectionStart, selectionEnd);
    });
    
    // show countable options
    $('.checkbox-countable').change(function() {
      var optionsBoxId = $(this).attr('id').split('-')[0] + '-countable-options';
      var $optionsBox = $('#'+optionsBoxId);
      if ($(this).is(':checked')) {
        $optionsBox.css('display', 'inline-block');
      } else {
        $optionsBox.hide();
      }
    });
    
    // check test
    var printResult = function() {
      var correctCount = 0;
      var totalCount = 0;
      var html = '<dl class="dl-horizontal dl-test-results">';
      $('.rdfa-properties').each(function() {
        totalCount++;
        var correct = false;
        var rdfType = $(this).attr('typeof');
        var $label = $(this).find('[property="<%= RDF::Prefixes::RDFS+'label' %>"][lang="<%= I18n.locale.to_s.upcase %>"]').first();
        var $wordWidget = $(this).find('[property="<%= RDF::Prefixes::RDFS+'label' %>"][lang="DE"]').first();
        
        /* CHECKING */
        if ($wordWidget.attr('content') === $wordWidget.val()) {
          
          /* NOUNS */
          if ('<%= RDF::Prefixes::VOC+'Noun' %>' === rdfType) {
            var $articleWidgets = $(this).find('[property="<%= RDF::Prefixes::VOC+'hasArticle' %>"]');
            var $articleWidget = null;
            if ($articleWidgets.length > 0) {
              $articleWidget = $articleWidgets.first();
            }
            var countable = $(this).find('.checkbox-countable').first().is(':checked');
            var $pluralBox = $(this).find('[property="<%= RDF::Prefixes::VOC+'pluralSuffix' %>"]').first();
            var umlaut = $pluralBox.find('.umlaut-control').first().is(':checked');
            var plural = $pluralBox.find('.plural-control').first().val().replace(/[^a-zA-Z]/, '');
            var pluralSuffix = (umlaut ? ':' : '-') + plural;
            if ((!countable && !$pluralBox.attr('content')) || (countable && $pluralBox.attr('content') === pluralSuffix)) {
              if (!$articleWidget || $articleWidget.attr('content') === $articleWidget.val()) {
                correct = true;
              }
            }
          
          /* VERBS */
          } else if ('<%= RDF::Prefixes::VOC+'Verb' %>' === rdfType) {
            var $praeteritumWidget = $(this).find('[property="<%= RDF::Prefixes::VOC+'praeteritum' %>"]').first();
            var $perfektWidget = $(this).find('[property="<%= RDF::Prefixes::VOC+'perfekt' %>"]').first();
            if ($praeteritumWidget.attr('content') === $praeteritumWidget.val() && $perfektWidget.attr('content') === $perfektWidget.val()) {
              correct = true;
            }
            
          /* MISC */
          } else {
            correct = true;
          }
        }
        
        /* DISPLAYING */
        var correctWord = '';
        var typedWord = '';
          
        /* NOUNS */
        if ('<%= RDF::Prefixes::VOC+'Noun' %>' === rdfType) {
          $articleWidgets = $(this).find('[property="<%= RDF::Prefixes::VOC+'hasArticle' %>"]');
          if ($articleWidgets.length > 0) {
            correctWord += $articleWidgets.first().find('option[value="' + $articleWidgets.first().attr('content') + '"]').first().html();
            typedWord += $articleWidgets.first().find('option[value="' + $articleWidgets.first().val() + '"]').first().html();
          }
          correctWord += ' ' + $wordWidget.attr('content');
          typedWord += ' ' + $wordWidget.val();
          if ($(this).find('[property="<%= RDF::Prefixes::VOC+'pluralSuffix' %>"]').length > 0) {
            var pluralSuffix = $(this).find('[property="<%= RDF::Prefixes::VOC+'pluralSuffix' %>"]').first().attr('content');
            if (pluralSuffix) {
              correctWord += ', ' + pluralSuffix;
              var pluralRegex = new RegExp('[^a-zA-Z]', 'g');
              var typedPlural = $(this).find('.plural-control').first().val().replace(pluralRegex, '');
              typedPlural = ($(this).find('.umlaut-control').is(':checked') ? ':' : '-') + typedPlural;
              typedWord += ', ' + typedPlural;
            }
          }

        /* VERBS */
        } else if ('<%= RDF::Prefixes::VOC+'Verb' %>' === rdfType) {
          correctWord += $wordWidget.attr('content') +
                         ' - ' + $(this).find('[property="<%= RDF::Prefixes::VOC+'praeteritum' %>"]').first().attr('content') +
                         ' - ' + $(this).find('[property="<%= RDF::Prefixes::VOC+'perfekt' %>"]').first().attr('content');
          typedWord += $wordWidget.val() +
                         ' - ' + $(this).find('[property="<%= RDF::Prefixes::VOC+'praeteritum' %>"]').first().val() +
                         ' - ' + $(this).find('[property="<%= RDF::Prefixes::VOC+'perfekt' %>"]').first().val();

        /* MISC */
        } else {
          correctWord += $wordWidget.attr('content');
          typedWord += $wordWidget.val();
        }
          
        if (correct) {
          correctCount++;
          html += '<dt class="word-correct">' + $label.attr('content') + '</dt>';
          html += '<dd><span class="glyphicon glyphicon-ok word-correct-icon"></span>' +
                  ' <span class="word-correct">' + correctWord + '</span>' +
                  '</dd>';
        } else {
          html += '<dt class="word-incorrect">' + $label.attr('content') + '</dt>';
          html += '<dd><span class="glyphicon glyphicon-remove word-incorrect-icon"></span>' +
                  ' <%= t 'tests.label.typed' %>: <span class="word-incorrect">' + (typedWord || '<em>(<%= t 'tests.label.blank' %>)</em>') + '</span>' +
                  ', <%= t 'tests.label.correct' %>: <span class="word-correct">' + correctWord + '</span>' +
                  '</dd>';
        }
        
      });
      html += '</dl>';
      
      var topText = '<h2 class="no-margin-top" style="margin-bottom: 30px;"><span style="font-size: 0.9em;"><%= t 'tests.message.you_scored' %></span>:' +
                    ' <span class="word-correct" style="font-size: 1em;">' + correctCount + '</span>' +
                    ' <span style="font-size: 0.8em;">/ ' + totalCount + '</span></h2>';
      var bottomText = '<button id="retake" class="btn btn-default" type="button"><span class="glyphicon glyphicon-repeat"></span> <%= t 'tests.btn.retake' %></button>';
      <% if user_signed_in? -%>
        bottomText += ' <button id="save_score" class="btn btn-success" type="submit"><span class="glyphicon glyphicon-check"></span> <%= t 'tests.btn.save_score' %></button>';
      <% end -%>
        
      var scoreFormText = '<input type="hidden" name="test_result[score]" value="' + correctCount + '">' +
                          '<input type="hidden" name="test_result[total]" value="' + totalCount + '">';
      
      html = topText + html + scoreFormText + bottomText;
      
      return html;
    };
    
    var clearForm = function() {
      $('input, select').each(function() {
        if ('<%= RDF::Prefixes::VOC+'hasArticle' %>' === $(this).attr('property')) {
          $(this).val('-');
        } else if ($(this).is('[type="checkbox"]')) {
          $(this).attr('checked', false);
        } else {
          $(this).val('');
        }
        $('.countable-options').hide();
      });
    };
    
    <% if user_signed_in? -%>
      var clearTestState = function() {
          $.post('<%= tests_test_state_clear_path %>');
      };
    <% end -%>

    // submit test
    $('#submit').click(function() {
      <% if user_signed_in? %>
          clearTestState();
      <% end %>
      $('#test_widgets').hide();
      $('#test_results').show();
      $('#test_results form').html(printResult());
      $('html, body').animate({scrollTop: 18}, 'slow');
    });
    
    <% if @test_entries %>
      // autoload test state
      var $wordRow;
      <% @test_entries.each do |key, val| -%>
        $wordRow = $('[about="<%= key %>"]');
        $wordRow.find('[property="<%= RDF::Prefixes::RDFS+'label' %>"][lang="DE"]').first().val('<%= val.german %>');
        <% if val.article -%>
          $wordRow.find('[property="<%= RDF::Prefixes::VOC+'hasArticle' %>"]').first().val('<%= val.article %>');
        <% end -%>
        <% if val.countable -%>
          $wordRow.find('.checkbox-countable').first().attr('checked', true);
          $wordRow.find('.countable-options').first().css('display', 'inline-block');
        <% end -%>
        <% if val.plural_suffix -%>
          $wordRow.find('.plural-control').first().val('<%= val.plural_suffix %>');
        <% end -%>
        <% if val.umlaut -%>
          $wordRow.find('.umlaut-control').first().attr('checked', true);
        <% end -%>
        <% if val.praeteritum -%>
          $wordRow.find('[property="<%= RDF::Prefixes::VOC+'praeteritum' %>"]').first().val('<%= val.praeteritum %>');
        <% end -%>
        <% if val.perfekt -%>
          $wordRow.find('[property="<%= RDF::Prefixes::VOC+'perfekt' %>"]').first().val('<%= val.perfekt %>');
        <% end -%>
      <% end -%>
    <% end -%>
      
    <% if user_signed_in? %>
      // autosave test state
      var saveFailed = false;
      var saveTest = function() {
        var testEntries = [];
        $('.rdfa-properties').each(function() {
          var testEntry = {};
          var entryType = $(this).attr('typeof');
          testEntry['word'] = $(this).attr('about');
          testEntry['german'] = $(this).find('[property="<%= RDF::Prefixes::RDFS+'label' %>"][lang="DE"]').first().val();
          if ('<%= RDF::Prefixes::VOC+'Noun' %>' === entryType) {
            testEntry['article'] = $(this).find('[property="<%= RDF::Prefixes::VOC+'hasArticle' %>"]').first().val();
            testEntry['countable'] = $(this).find('.checkbox-countable').is(':checked');
            testEntry['plural_suffix'] = $(this).find('.plural-control').val();
            testEntry['umlaut'] = $(this).find('.umlaut-control').is(':checked');
          } else if ('<%= RDF::Prefixes::VOC+'Verb' %>' === entryType) {
            testEntry['praeteritum'] = $(this).find('[property="<%= RDF::Prefixes::VOC+'praeteritum' %>"]').val();
            testEntry['perfekt'] = $(this).find('[property="<%= RDF::Prefixes::VOC+'perfekt' %>"]').val();
          }
          testEntries.push(testEntry);
        });

        $.post('<%= tests_autosave_path %>', {test_entries: testEntries})
          .fail(function() {
            if (!saveFailed) {
              bootbox.alert('<%= t 'tests.message.autosave_failed' %>');
              saveFailed = true;
            }
          }
        );
      };
      saveTest();
      $('input, select').change(saveTest);
    <% end %>
    
    (function($) {
      // retake test
      $(document).on('click', '#retake', function() {
        $('#test_results').hide();
        clearForm();
        $('#test_widgets').show();
        <% if user_signed_in? -%>
            saveTest();
        <% end -%>
        $('html, body').animate({scrollTop: 0}, 'slow');
      });
    })(jQuery);
  });
</script>